<br>
<a class="w3-button w3-teal w3-margin-top w3-margin-left" href="/admin-insert-players">Insert Players</a>
<br>
<a class="w3-button w3-purple w3-margin-top w3-margin-left" href="/admin-generate-pairs">Generate Pairs</a>
<br>
<a class="w3-button w3-orange w3-margin-top w3-margin-left" href="/admin-reset-votes-for-ips">Reset Votes For IP</a>
<br>
<a class="w3-button w3-deep-orange w3-margin-top w3-margin-left" href="/admin-ungenerate-pairs">ungenerate Pairs</a>
<br>
<a class="w3-button w3-red w3-margin-top w3-margin-left" href="/admin-reset-votes">Reset Votes</a>
<br>
<br>
<br>
<%= data %>

<a class="w3-button w3-red w3-margin-top w3-margin-left" href="/admin-hard-reset">Hard Reset</a>
<br>