<form class="w3-margin-top" method='post' action='/admin-access'>
  <label class="w3-text-purple">Admin Access Password</label>
  <br>
  <input class="w3-input w3-border" type="password" name="admin-password">
  <button class="w3-button w3-margin-top w3-purple" type="submit">Access</button>
</form>