<form class="w3-margin-top" method='post' action='/admin-reset-votes-for-ips'>
  <label class="w3-text-purple">Insert IP (Seperator: ',')</label>
  <br>
  <input class="w3-input w3-border" type="text" name="ip_addresses">
  <button class="w3-button w3-margin-top w3-purple" type="submit">Submit</button>
</form>
