<form class="w3-margin-top" method='post' action='/admin-insert-players'>
  <label class="w3-text-purple">Insert Player Name (Seperator: ',')</label>
  <br>
  <input class="w3-input w3-border" type="text" name="player_names">
  <button class="w3-button w3-margin-top w3-purple" type="submit">Submit</button>
</form>
