<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>

  <body>
    <h1>Feather</h1>
    <% for event in events do %>
      <h2><%= event %></h2>
    <% end %>

    <% if not @authorized then %>
      <form method="post" action="/">
        <label>Username: </label>
        <input type="text" name="username">
        <label>Password: </label>
        <input type="password" name="password">
        <button type="submit">Submit</button>
      </form>
    <% else %>
      <h2>Welcome <%= @request.session['username'] %></h2>
    <% end %>
  </body>
</html>

